/* ================ Section <section> ================ */
#genres,
#best-sellers,
#new-arrivals,
#reviews,
#services,
#community,
#books-under-price,
#hero,
#account-forms,
#wishlist,
#about-us,
#forgot-password,
#collections,
#reset-password,
#user-dashboard-section {
  width: 100%;
  height: auto;
  padding: 25px var(--sides-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

#user-dashboard-section {
  justify-content: center;
}

#forgot-password {
  flex: 1;
}
#hero {
  height: 700px !important;
}
#about-us {
  padding: 0px;
}

#reviews {
  padding: 15px 0px;
}

#wishlist {
  padding: 25px 35px;
}

#services {
  padding: 0px var(--sides-padding) 50px;
}

#reviews > .section-title {
  padding: 15px var(--sides-padding);
}

/* ================ Error Message =============== */
.message-box-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
  padding: 10px;
}

.message-box-container.hidden {
  display: none;
}

.message-box-container.active {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message-box {
  height: auto;
  display: flex;
  transform: translateX(100%);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.message-box > p {
  font-family: var(--primary-font);
  font-size: clamp(0.75rem, 1.2vw, 1.2rem);
}

.message-box > button {
  display: flex;
  align-items: center;
}

/* ================ Genres grid ================ */

.genres-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.genre-grid-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.genre-grid-card img {
  width: 100%;
  border-radius: inherit;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}

.genre-grid-card > figcaption {
  font-family: var(--primary-font);
  font-weight: 600;
}

/* ================ Hero ================ */
#hero {
  padding: 0px;
  height: 630px;
  gap: 15px;
  position: relative;
}

#hero > .hero-sliders {
  position: relative;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}

.hero-card::before {
  content: "";
  inset: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px var(--sides-padding);
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  transition: transform 400ms ease;
  overflow-x: hidden;
}

.hero-card.active {
  transform: translateX(0);
}

.hero-card.exit-left {
  transform: translateX(-100%);
}

.hero-card.exit-right {
  transform: translateX(100%);
}

#hero-card-one {
  background: url("../../../assets/images/hero-image-one.png");
}

#hero-card-two {
  background: url("../../../assets/images/hero-image-two.png");
}
#hero-card-three {
  background: url("../../../assets/images/temporary-hero-three.jpg");
}

#hero-card-one,
#hero-card-two,
#hero-card-three {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text-container {
  z-index: 20;
}

.hero-text-container > h3 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.7rem, 3vw, 3rem);
}

.hero-card > .call-to-action-button {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: bold;
  background-color: var(--secondary-color);
  height: 40px;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 0px var(--sides-padding);
  z-index: 20;
  transition: ease-in-out 300ms;
}

.hero-card > .call-to-action-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.hero-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-navigation-container > .navigation-bars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(229, 229, 229);
  border-radius: 20px;
  width: 105px;
  height: 25px;
  box-shadow: inset 0px 0px 20px 0px rgba(54, 54, 54, 0.184);
}

.hero-navigation-container > .navigation-bars-container > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(164, 164, 164);
}

.hero-navigation-container > .navigation-bars-container > div.active {
  background-color: var(--accent-color);
}

.hero-navigation-container > button.disabled > svg path {
  stroke: grey;
  cursor: not-allowed;
}

.hero-navigation-container > button.enabled > svg path {
  stroke: black;
}

/* ================ Product / Orders Grids + Catalog ================ */
.products-catalog,
.orders-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.orders-catalog {
  width: 100%;
}

.products-grid,
.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.orders-grid {
  width: 100%;
  gap: 15px;
}
.empty-container {
  font-family: var(--primary-font);
}

.empty-container a {
  color: var(--primary-color);
}

/* ================ Product cards + sidebar product card ================ */
.product-card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 380px minmax(90px, auto) 45px;
  row-gap: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-card > figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-card > figure > .product-card-actions {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-card > figure > .product-card-sale-badge {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 50px;
  border-radius: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 0.8rem;
  z-index: 0;
}

.product-card-actions > button {
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  transition: ease-in-out 300ms;
}

.popup-message {
  background-color: var(--secondary-color);
  width: max-content;
  padding: 5px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  display: none;
}

.product-card-actions > button.unclickable {
  cursor: not-allowed;
}

.product-card-actions > button:hover {
  background-color: rgba(255, 255, 255, 0.61);
}

.product-card > figure,
.product-card > figure > a,
.product-card > figure > a > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-card-text > .product-card-price,
.sidebar-product-card-text > .sidebar-product-card-price {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-card-price > .pre-sale-price,
.sidebar-product-card-text > .sidebar-product-card-price > .pre-sale-price {
  font-weight: 300;
  text-decoration: line-through;
  color: var(--border-primary-color);
}

.product-card-price > .base-price,
.product-card-price > .post-sale-price {
  font-weight: 700;
  color: black;
}

.product-card-text > .product-card-title {
  font-family: var(--primary-font);
  font-weight: 700;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card-author-format {
  margin-top: -5px;
}

.product-card-author-format > .product-card-author {
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.05rem;
  font-size: 0.9rem;
}

.product-card-author > .product-card-author-name {
  color: var(--primary-color);
  font-style: italic;
}

.product-card-author-format > .separator {
  font-family: var(--primary-font);
}

.product-card-author-format > .product-card-format {
  color: grey;
  font-family: var(--primary-font);
  font-weight: 300;
  line-height: 1.05rem;
  font-size: 0.9rem;
}

.product-card-remove-wishlist-button {
  height: 35px;
}

.product-card-redirection-button,
.sold-out-button,
.product-card-remove-wishlist-button,
.product-card-add-to-card-button,
.view-order-details-button,
#delete-address-button,
#save-address-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  transition: ease-in-out 300ms;
}

.sold-out-button {
  border: 1px solid rgb(159, 159, 159);
  color: rgb(159, 159, 159);
  cursor: not-allowed;
}

.product-card-redirection-button:hover,
.product-card-remove-wishlist-button:hover {
  border: 1px solid var(--accent-color);
}

.sidebar-product-card {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 0.8fr 1fr;
  gap: 18px;
}

.sidebar-product-card > figure {
  width: 145px;
  height: 200px;
  border-radius: 10px;
}
.sidebar-product-card > figure > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.sidebar-product-card > .sidebar-product-card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-product-card-price > .base-price,
.sidebar-product-card-price > .post-sale-price {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: clamp(0.8rem, 0.8vw, 1rem);
}

.sidebar-product-card-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: clamp(0.8rem, 0.7vw, 1.15rem);
}

.sidebar-product-card-information {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
}

.sidebar-product-card-action {
  display: flex;
  gap: 20px;
}

.out-of-stock-button {
  font-family: var(--primary-font);
  color: rgb(180, 180, 180);
  font-style: italic;
  cursor: not-allowed;
}
/* ================ Pagination ================ */
.pagination {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination > .pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.pagination-inner-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination-inner-container > .page-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.page-button.active-page-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

/* ================ Moving Ads ================ */
.moving-advertisement {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background-color: var(--primary-color);
  margin: 20px 0px;
  white-space: nowrap;
  color: var(--secondary-color);
}

.moving-advertisement > .ad-track {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  animation: scroll-left 18s linear infinite;
}

.ad-track > span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================ Carousel ================ */
.carousel {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transform: translateX(0px);
  transition: transform 300ms ease;
  will-change: transform;
}

.carousel .product-card {
  flex: 0 0 100%;
}

.carousel-button {
  background-color: #00cdbc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================ Reviews Slider ================ */
.reviews-slider {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 10px var(--sides-padding);
}

.review-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: pan-y;
}

.review-track {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 10px;

  animation: scroll-left 15s linear infinite;
}

.store-review-card {
  height: 90%;
  flex: 0 0 100%;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  padding: 15px 20px;
  border: 1px solid var(--border-primary-color);
}

.store-review-card > .card-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.store-review-card > .card-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.store-review-card > .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex: 1;
}

.store-review-card > .card-body > .review-text {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: clamp(1rem, 1.35vw, 1.15rem);
}

.store-review-card > .card-body > .review-owner {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: clamp(1.05rem, 2vw, 1.2rem);
}

/* ================ Services ================ */
.services-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.services-container > .service-card {
  background-color: var(--secondary-color);
  padding: 10px var(--sides-padding);
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid var(--border-primary-color);
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.services-container > .service-card:hover {
  transform: scale(1.03);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.services-container > .service-card:hover > svg,
.services-container > .service-card:hover > svg path {
  stroke: var(--secondary-color);
}

.services-container > .service-card:hover > svg#star-icon path {
  fill: var(--secondary-color);
}
.service-card > .service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
  font-family: var(--primary-font);
}

/* ================ Community ================ */
.community-container {
  width: 100%;
  padding: 25px var(--sides-padding);
  background-color: var(--primary-color);
  display: grid;
  border-radius: 10px;
}

.community-container > .community-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--secondary-color);
  gap: 25px;
}

.community-info > .community-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.community-text > .community-title {
  font-family: var(--primary-font);
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 2rem);
}

.community-text > p {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}

.community-container > .community-image {
  display: none;
}

.community-info > .community-action {
  width: 100%;
  height: 40px;
}

.community-info > .community-action {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.community-info > .community-action > input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 10px var(--sides-padding);
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.community-info > .community-action > input:focus {
  outline: none;
}

.community-info > .community-action > button {
  position: absolute;
  right: 10px;
}

/* ================ Account forms + lost password form + address-form ================ */
#account-forms > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

#account-forms > div > form,
#lost-password-form,
#reset-password-form,
#address-form,
#account-details-form,
#account-password-fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border: 1px solid var(--border-primary-color);
  padding: 15px var(--sides-padding);
  border-radius: 10px;
  background-color: var(--secondary-color);
}

#register-form > p,
#lost-password-form > p {
  font-family: var(--primary-font);
  font-size: clamp(0.85rem, 1.2vw, 1.1rem);
}

.form-title {
  font-family: var(--secondary-font);
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

.form-double-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-row,
.double-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 100%;
  min-height: 65px;
}

.remember-me-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.remember-me-row > label {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 0.9rem);
}

.form-row > label,
.double-field > label {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: clamp(0.85rem, 1.3vw, 1.05rem);
}

.form-row > input,
.form-row > textarea,
.double-field > input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--border-primary-color);
  padding: 10px var(--sides-padding);
  font-family: var(--secondary-font);
}

.form-row > textarea {
  height: 100px;
}

.form-row > input:focus,
.double-field > input:focus {
  outline: none;
}

#log-in-button,
#register-button,
#reset-email-button,
#submit-pass-reset-button,
#save-account-changes-button {
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.lost-password-link {
  font-size: clamp(0.8rem, 1.3vw, 1rem);
  color: var(--primary-color);
  text-decoration: underline;
  font-family: var(--primary-font);
}

.error-message {
  color: red;
  font-family: var(--primary-font);
}

.error-message.hidden {
  display: none;
}

.buttons-container {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.buttons-container > button {
  width: 50%;
  height: 100%;
}

/* ================ About us ================ */
#about-us > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 20px;
}

#about-us > div > figure,
#about-us > div > figure > img {
  width: 100%;
  max-width: 380px;
}

#about-us > div > .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.our-story-container {
  background-color: #eaeaea;
}

.our-story-container > .content > h4,
.our-aim-container > .content > h4 {
  font-size: clamp(2rem, 1.5vw, 2.5rem);
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.our-story-container > .content > p,
.our-aim-container > .content > p {
  font-size: clamp(1.05rem, 1.5vw, 1.2rem);
  color: var(--accent-color);
  font-family: var(--primary-font);
}

.email-sent-message,
.successfull-password-reset-message {
  font-family: var(--primary-font);
  text-align: center;
  background-color: rgb(235, 235, 235);
  width: auto;
  height: auto;
  padding: 10px var(--sides-padding);
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: bold;
}

/* ================ Collections ================ */
.collections-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;
}

.collection-card {
  position: relative;
  border-radius: 10px;
}

.collections-grid > .collection-card > figure,
.collections-grid > .collection-card > figure img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.collections-grid > .collection-card > figure {
  position: relative;
}

.collections-grid > .collection-card > figure::before {
  position: absolute;
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.178);
}

.collection-card > .view-collection-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: max-content;
  padding: 10px var(--sides-padding);
  background-color: var(--secondary-color);
  border-radius: 6px;
  font-family: var(--primary-font);
  font-size: clamp(0.7rem, 1.3vw, 1rem);
  font-weight: bold;
  transition: ease-in-out 300ms;
}

.collection-card > .view-collection-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

/* ================ Order Cards ================ */

.order-card {
  width: 100%;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 25px var(--sides-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}

.order-card-information-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order-card-information-container > .order-info-row {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--border-primary-color);
  padding: 12px;
}

.order-card-information-container > .order-info-row:last-of-type {
  border-bottom: 1px solid var(--border-primary-color);
}

.order-info-row > .order-info-title > h4 {
  font-family: var(--primary-font);
  font-size: clamp(0.95rem, 1vw, 1.15rem);
}

.order-info-row > .order-info-data > p {
  font-family: var(--primary-font);
  text-align: center;
  font-size: clamp(0.8rem, 0.8vw, 1rem);
  text-wrap: nowrap;
}

.order-card-footer {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
}

.view-order-details-button {
  width: 125px;
  height: 100%;
}

.view-order-details-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

/* Order Lines */
/* .order-lines-container {
  position: fixed;
  z-index: 1000;
  background-color: var(--secondary-color);
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 200x;
  padding: 10px;
  overflow-y: auto;
  gap: 15px;
}

.order-lines-container > .order-line {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 150px 0.3fr 0.3fr 0.3fr;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
} */
