/* ============= HEADER ============= */
#site-header {
  background-color: var(--primary-color);
  padding: 10px var(--sides-padding);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-navbar {
  width: 450px;
  display: none;
}

.site-header-navbar > ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.site-header-navbar > ul > li {
  min-width: 100px;
  text-align: center;
  position: relative;
}

.site-header-navbar > ul > li > a,
.site-header-navbar > ul > li > button {
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--primary-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

.site-header-navbar > ul > li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-submenu-collections {
  position: absolute;
  background-color: var(--secondary-color);
  z-index: 50;
  top: 50px;
  left: -35px;
  width: 155px;
  max-width: auto;
  padding: 15px var(--sides-padding);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.inactive-submenu {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.active-submenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header-submenu-collections > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-submenu-collections > li > a {
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: left;
  text-wrap: nowrap;
}

.header-actions-container {
  display: none;
}

.header-actions-container > ul {
  display: flex;
  gap: 12px;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hamburger-menu > .line {
  background-color: var(--secondary-color);
  width: 100%;
  height: 3px;
  border-radius: 20px;
}

.phone-header-leftside-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#search-bar,
#mini-wishlist-bar,
#mini-cart-bar,
#filtering-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 400px;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 1000;
  padding: 10px 0px;
  transform: translateX(100%);
  overflow-y: auto;
  overflow-x: hidden;
}

#search-bar,
#filtering-bar {
  width: 100%;
}

.search-bar-header,
.mini-wishlist-bar-header,
.mini-cart-bar-header,
.order-lines-container-header,
.filtering-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px var(--sides-padding) 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.search-bar-header > .search-bar-title,
.mini-wishlist-bar-header > .mini-wishlist-bar-title,
.mini-cart-bar-header > .mini-cart-bar-title,
.order-lines-container-header > .order-lines-container-title,
.filterin-bar-header > .filtering-bar-title {
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

.search-bar-action-container {
  width: 100%;
  padding: 20px var(--sides-padding);
}

.search-bar-action-container > .search-input {
  width: 100%;
  height: 45px;
  padding: 0px var(--sides-padding);
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid grey;
  outline: 2px solid transparent;
  transition: ease-in 300ms;
}

.search-bar-action-container > .search-input:focus {
  outline: 2px solid rgb(167, 167, 167);
}

.search-bar-search-container {
  padding: 20px var(--sides-padding);
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.search-bar-search-container > .search-title {
  font-family: var(--primary-font);
  font-weight: 400;
}

.search-result-container,
.wishlist-items-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
}

.wishlist-items-container > .login-reminder,
.wishlist-items-container > .empty-text {
  align-self: center;
}

.view-more-button {
  margin-top: auto;
  background: var(--secondary-color);
  font-family: var(--secondary-font);
  border: 1px solid rgb(116, 116, 116);
  font-family: 600px;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-wishlist-body {
  padding: 20px var(--sides-padding);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

/* === Sidebar === */
#site-sidebar {
  position: fixed;
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  transform: translateX(-100%);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 50;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px var(--sides-padding) 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.sidebar-header > .sidebar-title {
  font-family: var(--primary-font);
}

.sidebar-actions-container,
.site-sidebar-navbar {
  width: 100%;
}
.sidebar-actions-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 5px var(--sides-padding) 15px;
}

.site-sidebar-navbar {
  height: 100%;
  padding: 0px var(--sides-padding);
}

.site-sidebar-navbar > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.site-sidebar-navbar > ul > li {
  border-bottom: 1px solid rgb(222, 222, 222);
  width: 100%;
  padding-bottom: 20px;
}

.site-sidebar-navbar > ul > .sidebar-collection-li {
  width: 100%;
}

.site-sidebar-navbar > ul > .sidebar-collection-li button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-sidebar-navbar > ul > li > a,
.site-sidebar-navbar > ul > li > button {
  color: var(--accent-color);
  font-weight: bold;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1rem;
}

.genres-sidebar-container {
  position: fixed;
  transform: translateX(100%);
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  padding: 20px var(--sides-padding);
  overflow-y: scroll;
}

.genres-sidebar-container > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.genres-sidebar-container > ul > li {
  border-bottom: 1px solid rgb(222, 222, 222);
  width: 100%;
  padding-bottom: 20px;
}

.genres-sidebar-container > ul > li > a {
  font-family: var(--primary-font);
  font-weight: 600;
}

#close-genres-sidebar-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1rem;
}

/* ===== User dashboard ===== */
#user-dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

#user-dashboard-sidebar {
  display: flex;
  flex-direction: column;
}

#user-dashboard-sidebar > li {
  width: 100%;
  border-top: 1px solid rgb(222, 222, 222);
}

#user-dashboard-sidebar > li:last-of-type {
  border-bottom: 1px solid rgb(222, 222, 222);
}

#user-dashboard-sidebar > li > button {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--primary-font);
}

.active-subsection > button {
  color: var(--primary-color);
}

.active-subsection > button svg {
  stroke: var(--primary-color);
}

.active-subsection > button svg > path {
  fill: var(--primary-color);
}

#user-dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard-introduction {
  line-height: 1.55;
}

/* ===== Products page ===== */
.products-section-title {
  align-self: flex-start;
}

.products-container {
  width: 100%;
}

.products-container > .products-catalog {
  width: 100%;
}

.products-catalog-header {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.products-catalog-header > #show-filtering-bar-button {
  width: 130px;
  height: 100%;
}

.products-catalog-header > p {
  text-wrap: nowrap;
}

.availability-stock-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-inner-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

/* ===== FOOTER ===== */
.footer {
  margin-top: 40px;
  position: sticky;
  bottom: 0;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr), 80px;
  grid-template-areas:
    "Q"
    "N"
    "P"
    "NE"
    "C";
  gap: 25px;
}

.footer h4 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 800;
}

.footer > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--primary-font);
}

.footer > div ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer > div p,
.footer > div ul > li,
.footer > div ul > li a {
  color: var(--secondary-color);
  font-weight: 300;
}

.footer > .contact-information {
  grid-area: Q;
  padding: 25px var(--sides-padding);
}

.footer > .navigation-list {
  grid-area: N;
  padding: 0px var(--sides-padding) 25px var(--sides-padding);
}

.footer > .policies-list {
  grid-area: P;
  padding: 0px var(--sides-padding) 25px var(--sides-padding);
}

.footer > .newsletter-list {
  grid-area: NE;
  padding: 0px var(--sides-padding) 25px var(--sides-padding);
}

.footer > .newsletter-list > div {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.footer > .newsletter-list > div > input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.footer > .newsletter-list > div > input:focus {
  outline: none;
  padding: 10px var(--sides-padding);
}

.footer > .newsletter-list > div > button {
  position: absolute;
  right: 10px;
}

.footer > .copyright {
  grid-area: C;
  padding: 25px var(--sides-padding) 25px var(--sides-padding);
  border-top: 2px solid var(--secondary-color);
}

.footer > .copyright p {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  text-align: left;
}
