/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

/* === Font Faces === */
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre";
  src: url("../../../assets/fonts/LibreBaskerville-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* VARIABLES */
:root {
  /* === Colors === */
  --primary-color: #00cdbc;
  --secondary-color: white;
  --accent-color: black;

  /* === Sizes === */
  --sides-padding: 20px;

  /* === Fonts === */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Libre", sans-serif;
}

/* === Animations + Animation classes */
@keyframes slide_in_sidebar {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.slide-in-sidebar {
  animation: slide_in_sidebar ease-in-out 500ms forwards;
}

@keyframes slide_out_sidebar {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1500px);
  }
}

.slide-out-sidebar {
  animation: slide_out_sidebar ease-in-out 500ms forwards;
}

@keyframes slide_in_right {
  0% {
    transform: translateX(1500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.slide-in-right {
  animation: slide_in_right ease-in-out 500ms forwards;
}

@keyframes slide_out_right {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(1500px);
  }
}

.slide-out-right {
  animation: slide_out_right ease-in-out 500ms forwards;
}

@keyframes slide_out_hero_card {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1500px);
  }
}

.slide-out-hero-card {
  animation: slide_out_hero_card ease-in-out 500ms forwards;
}

@keyframes slide_in_hero_card {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.slide-in-hero-card {
  animation: slide_in_hero_card ease-in-out 500ms forwards;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* === GENERALS === */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

.right-caret {
  transform: rotate(-90deg);
}

.left-caret {
  transform: rotate(90deg);
}

/* STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ============= HEADER ============= */
#site-header {
  background-color: var(--primary-color);
  padding: 10px var(--sides-padding);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-navbar {
  width: 450px;
  display: none;
}

.site-header-navbar > ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.site-header-navbar > ul > li {
  min-width: 100px;
  text-align: center;
  position: relative;
}

.site-header-navbar > ul > li > a,
.site-header-navbar > ul > li > button {
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--primary-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

.site-header-navbar > ul > li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-submenu-collections {
  position: absolute;
  background-color: var(--secondary-color);
  z-index: 50;
  top: 50px;
  left: -35px;
  width: 155px;
  max-width: auto;
  padding: 15px var(--sides-padding);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.inactive-submenu {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.active-submenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header-submenu-collections > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-submenu-collections > li > a {
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: left;
  text-wrap: nowrap;
}

.header-actions-container {
  display: none;
}

.header-actions-container > ul {
  display: flex;
  gap: 12px;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hamburger-menu > .line {
  background-color: var(--secondary-color);
  width: 100%;
  height: 3px;
  border-radius: 20px;
}

.phone-header-leftside-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* === Sidebar === */
#site-sidebar {
  position: absolute;
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  transform: translateX(-1500px);
  overflow: hidden;
  z-index: 50;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px var(--sides-padding) 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.sidebar-header > .sidebar-title {
  font-family: var(--primary-font);
}

.sidebar-actions-container,
.site-sidebar-navbar {
  width: 100%;
}
.sidebar-actions-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 5px var(--sides-padding) 15px;
}

.site-sidebar-navbar {
  height: 100%;
  padding: 0px var(--sides-padding);
}

.site-sidebar-navbar > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.site-sidebar-navbar > ul > li {
  border-bottom: 1px solid rgb(222, 222, 222);
  width: 100%;
  padding-bottom: 20px;
}

.site-sidebar-navbar > ul > .sidebar-collection-li {
  width: 100%;
}

.site-sidebar-navbar > ul > .sidebar-collection-li button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-sidebar-navbar > ul > li > a,
.site-sidebar-navbar > ul > li > button {
  color: var(--accent-color);
  font-weight: bold;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1rem;
}

.genres-sidebar-container {
  position: absolute;
  transform: translateX(1500px);
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  padding: 20px var(--sides-padding);
  overflow-y: scroll;
}

.genres-sidebar-container > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.genres-sidebar-container > ul > li {
  border-bottom: 1px solid rgb(222, 222, 222);
  width: 100%;
  padding-bottom: 20px;
}

.genres-sidebar-container > ul > li > a {
  font-family: var(--primary-font);
  font-weight: 600;
}

#close-genres-sidebar-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1rem;
}

#search-bar,
#mini-wishlist-bar,
#mini-cart-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 1000;
  padding: 10px 0px;
  transform: translateX(1500px);
}

#search-bar {
  width: 100%;
}

.search-bar-header,
.mini-wishlist-bar-header,
.mini-cart-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px var(--sides-padding) 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.search-bar-header > .search-bar-title,
.mini-wishlist-bar-header > .mini-wishlist-bar-title,
.mini-cart-bar-header > .mini-cart-bar-title {
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

.search-bar-searching-container {
  width: 100%;
  padding: 20px var(--sides-padding);
}

.search-bar-searching-container > .search-input {
  width: 100%;
  height: 45px;
  padding: 0px var(--sides-padding);
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid grey;
  outline: 2px solid transparent;
  transition: ease-in 300ms;
}

.search-bar-searching-container > .search-input:focus {
  outline: 2px solid rgb(167, 167, 167);
}

/* === Hero ===*/
#hero {
  width: 100%;
  height: 630px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

#hero > .hero-sliders {
  position: relative;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}

.hero-card::before {
  content: "";
  inset: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px var(--sides-padding);
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  transition: transform 400ms ease;
  overflow-x: hidden;
}

.hero-card.active {
  transform: translateX(0);
}

.hero-card.exit-left {
  transform: translateX(-100%);
}

.hero-card.exit-right {
  transform: translateX(100%);
}

#hero-card-one {
  background: url("../../../assets/images/hero-image-one.png");
}

#hero-card-two {
  background: url("../../../assets/images/temporary-hero-two.jpg");
}
#hero-card-three {
  background: url("../../../assets/images/temporary-hero-three.jpg");
}

#hero-card-one,
#hero-card-two,
#hero-card-three {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text-container {
  z-index: 20;
}

.hero-text-container > h3 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.7rem, 3vw, 3rem);
}

.hero-card > .call-to-action-button {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: bold;
  background-color: var(--secondary-color);
  height: 40px;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 0px var(--sides-padding);
  z-index: 20;
  transition: ease-in-out 300ms;
}

.hero-card > .call-to-action-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.hero-navigation-container,
.best-sellers-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-navigation-container > .navigation-bars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(229, 229, 229);
  border-radius: 20px;
  width: 105px;
  height: 25px;
  box-shadow: inset 0px 0px 20px 0px rgba(54, 54, 54, 0.184);
}

.hero-navigation-container > .navigation-bars-container > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(164, 164, 164);
}

.hero-navigation-container > .navigation-bars-container > div.active {
  background-color: var(--accent-color);
}

.hero-navigation-container > button.disabled > svg path {
  stroke: grey;
  cursor: not-allowed;
}

.hero-navigation-container > button.enabled > svg path {
  stroke: black;
}

/* === Genres === */
#genres,
#best-sellers,
#new-arrivals {
  width: 100%;
  height: auto;
  padding: 15px var(--sides-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#new-arrivals {
  overflow: hidden;
}

.section-title {
  font-family: var(--secondary-font);
  font-weight: bold;
  text-align: center;
  font-size: clamp(1.4rem, 3vw, 1.9rem);
}

.genres-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.genre-grid-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.genre-grid-card img {
  width: 100%;
  border-radius: inherit;
}

.genre-grid-card > figcaption {
  font-family: var(--primary-font);
  font-weight: 600;
}

.section-redirection-button {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  font-weight: 700;
  transition: ease-in-out 400ms;
}

.section-redirection-button:hover {
  border: 1px solid var(--accent-color);
}

.product-card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 360px minmax(90px, auto) 45px;
  row-gap: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-card > figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-card > figure > .product-card-actions {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-card-actions > button {
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  transition: ease-in-out 300ms;
}

.product-card-actions > button:hover {
  background-color: rgba(255, 255, 255, 0.61);
}

.product-card > figure,
.product-card > figure > a,
.product-card > figure > a > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-card-text > .product-card-price {
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.05rem;
}

.product-card-text > .product-card-title {
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.05rem;
}

.product-card-author-format {
  margin-top: -5px;
}

.product-card-author-format > .product-card-author {
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.05rem;
  font-size: 0.9rem;
}

.product-card-author > .product-card-author-name {
  color: var(--primary-color);
  font-style: italic;
}

.product-card-author-format > .separator {
  font-family: var(--primary-font);
}

.product-card-author-format > .product-card-format {
  color: grey;
  font-family: var(--primary-font);
  font-weight: 300;
  line-height: 1.05rem;
  font-size: 0.9rem;
}

.product-card-redirection-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  transition: ease-in-out 300ms;
}

.product-card-redirection-button:hover {
  border: 1px solid var(--accent-color);
}

/* Moving Ads */
.moving-advertisement {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background-color: var(--primary-color);
  margin: 20px 0px;
  white-space: nowrap;
  color: var(--secondary-color);
}

.moving-advertisement > .ad-track {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  animation: scroll-left 18s linear infinite;
}

.ad-track > span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== CAROUSEL ===== */
.carousel {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transform: translateX(0px);
  transition: transform 300ms ease;
  will-change: transform;
}

.carousel .product-card {
  flex: 0 0 100%;
}

.carousel-button {
  background-color: #00cdbc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== MEDIA QUERIES ====== */
/* Tablet */

@media (min-width: 470px) {
  .carousel .product-card {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}

@media (min-width: 768px) {
  #site-sidebar,
  #search-bar {
    width: 50%;
  }

  .genres-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .section-redirection-button {
    width: 200px;
  }

  .carousel .product-card {
    flex: 0 0 calc((100% - 20px * 2) / 3);
  }
}

/* Laptop */
@media (min-width: 1024px) {
  #search-bar {
    width: 30%;
  }

  .genres-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .phone-header-leftside-container {
    display: none;
  }

  .site-header-navbar,
  .header-actions-container {
    display: block;
  }

  #best-sellers {
    height: auto;
  }

  .carousel .product-card {
    flex: 0 0 calc((100% - 20px * 3) / 4);
  }
}

@media (min-width: 1240px) {
  .carousel .product-card {
    flex: 0 0 calc((100% - 20px * 4) / 5);
  }
}

/* Large desktop (optional) */
@media (min-width: 1440px) {
}
